.cardTarif {
    display: flex;
}

.titleCardTarif {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.contenueCardTarif {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex-grow: 1;
}